@model List<BrandViewModel>

@{
    ViewData["Title"] = "مدیریت برند ها";
}


<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <partial name="_AllBrandList" model="Model" />
    </div>
    <footer class="card-footer">
        <a class="btn btn-success" href="#" id="btnCreate">ایجاد برند جدید</a>
    </footer>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnCreate').click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Add", "Brand")',
                    renderModalPartialViewUrl: '@Url.Action("Render", "Brand")',
                    renderModalPartialViewData: JSON.stringify({ "id": 0 }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                        location.reload();
                    }
                });
            });

            $("a[id^='btnEdit']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var brandId = $(this).data("edit-id");
                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Edit", "Brand")',
                    renderModalPartialViewUrl: '@Url.Action("Render", "Brand")',
                    renderModalPartialViewData: JSON.stringify({ "id": brandId }),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                        location.reload();
                    }
                });
            });

            $("a[id^='btnDelete']").click(function (e) {
                e.preventDefault(); //می‌خواهیم لینک به صورت معمول عمل نکند
                var brandId = $(this).data("delete-id");

                $.bootstrapModalAjaxForm({
                    postUrl: '@Url.Action("Delete", "Brand")',
                    renderModalPartialViewUrl: '@Url.Action("RenderDelete", "Brand")',
                    renderModalPartialViewData: JSON.stringify({ "id": brandId}),
                    loginUrl: '/identity/login',
                    beforePostHandler: function () {
                    },
                    completeHandler: function () {
                        location.reload();
                    },
                    errorHandler: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>
}
